<div class="widget widget-accordion">

    <div class="widget-header">

        <h3>
            Widget Accordion
        </h3>
    </div> <!-- /.widget-header -->

    <div class="widget-content">

        <div class="accordion" id="sample-accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#sample-accordion" href="#collapseOne">
                        Collapsible Group Item #1
                    </a>

                    <i class="icon-plus toggle-icon"></i>
                </div>
                <div id="collapseOne" class="accordion-body in collapse">
                    <div class="accordion-inner">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt 3 wolf moon officia aute, non cupidatat.</p>
                    </div>
                </div>
            </div>

        </div>

    </div> <!-- /.widget-content -->
